<% content_for :for_head do %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<% end %>

<div id="headerwrap">
      <div class="container">
      <div class="row">
        <div class="col-lg-6 name">
          <h1>NELSON CUADRAS</h1> 
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 three">
          <h4 class="wd">WEB DEVELOPER</h4>
          <h4 class="ks">KNOWLEDGE SEEKER</h4>
          <h4 class="mj">MUSIC JUNKIE</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="p1">
        <p>I'm a Front End Web Developer that recently completed a unique learning experience at IronHack Web Development Bootcamp. There I began my lifelong journey into learning exciting technologies such as Ruby on Rails and JavaScript.</p>
        </div>
        <div class="p2">
        <p>I enjoy creating websites and applications that focus on a seamless experience for the user. I am a believer in less is more and follow the tenets of minimalism in both my design and lifestyle.</p>
        </div>
        <div class="p3">
        <p>I currently live in Miami, FL but it's easy for me to call anywhere home. When I'm not sharpening my skills you can find me enjoying the beach with friends, reading a good book or chasing live music experiences.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="social">
    <div class="container">
      <div class="row centered">
        <div class="col-xs-3">
          <a href="https://twitter.com/nelsoncuadras"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="col-xs-3">
          <a href="https://github.com/nelbot"><i class="fa fa-github"></i></a>
        </div>
        <div class="col-xs-3">
          <a href="https://www.linkedin.com/in/nelsoncuadras"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-xs-3">
          <a href="https://www.facebook.com/nelson.cuadras"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div id="footerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <p><b>“Everything should be made as simple as possible, but not simpler.” - Albert Einstein</b></p>
        </div>
      <!--   <div class="col-lg-4">
          <p>nelson.cuadras@gmail.com</p>
        </div> -->
      </div>
    </div>
  </div>