/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Varela+Round:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
  text-align: center
}

.mt {
  margin-top: 60px;
}

.mb {
  margin-bottom: 60px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
  font-weight: 700;
}

.navbar-default .navbar-brand {
  color: #1abc9c;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #1abc9c;
  background-color: transparent;
  border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
  color: #1abc9c;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  background: url(https://s3.amazonaws.com/nelsonpersonal/header.png) no-repeat center top;
  margin-top: -15px;
  padding-top: 250px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 800px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-size: 80px;
  font-weight: bold;
}

#headerwrap h4 {
  font-weight: 400;
  color: #ffffff
}

#social {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}

#social i {
  font-size: 40px;
  color: #4a4a4a
}

#social i:hover {
  color: #FF6347
}

#footerwrap {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #2f2f2f;
}

#footerwrap p {
  color: #f2f2f2;
  margin-left: 10px;
}

#workwrap { 
  background: url(../img/work.jpg) no-repeat center top;
  margin-top: -70px;
  padding-top: 250px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-size: 80px;
  font-weight: bold;
}

#workwrap h4 {
  font-weight: 400;
  color: #ffffff
}

#aboutwrap {  
  background: url(../img/about.jpg) no-repeat center top;
  margin-top: -70px;
  padding-top: 250px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 550px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




/* Gallery */
.gallery {
  margin-top: 30px;
}

.gallery img:hover {
  opacity: 0.4;
}

/* Extra Styles */

@media (min-width: 1800px) and (max-width: 2000px) {
  .title {
    margin-left: 700px;
  }
}

@media (min-width: 1650px) and (max-width: 1800px) {
  .title {
    margin-left: 650px;
  }
}

@media (min-width: 1205px) and (max-width: 1650px) {
  .title {
    margin-left: 600px;
  }
}

@media (min-width: 1000px) and (max-width: 1205px) {
  .title {
    margin-left: 480px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .title {
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .title {
    margin-left: 0px;
  }
}




.p1 {
  margin-bottom: 30px;
  font-size: 18px;
}

.p2 {
  margin-bottom: 30px;
  font-size: 18px;
}

.p3 {
  font-size: 18px;
}

@media (max-width: 500px) {
  #headerwrap h1 {
    font-size: 65px;
  }
}